:root {
  --not-quite-white: #fcfaff;
  --not-quite-black: #303030;
  --not-quite-grey: #708080;
}

body * {
  box-sizing: border-box;
}

body {
  background-color: #fcfaff;
  color: var(--not-quite-grey);
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(112, 128, 128);
}
